<!DOCTYPE html>
<html>

<head>

    <title>Login Page</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="login-container">

        <h1>Login</h1>

        <form action="/Login">

            <label>Username</label>

            <input
                type="text"
                name="Username"
                placeholder="Enter your username"
            >

            <label>Password</label>

            <input
                type="password"
                name="Password"
                placeholder="Enter your password"
            >

            <a href="/forgot-username">Forgot Username?</a>

            <button type="submit">Login</button>

        </form>

        <p>
            Don't have an account?
            <a href="#">Register</a>
        </p>

    </div>

</body>

</html>